.slicknav_menu {
    display: none
}

@media only screen and (min-width: 942px) and (max-width: 1170px) {
    .container {
        width: 940px
    }

    #main {
        width: 650px;
        float: left;
        margin-right: 30px
    }

    #sidebar {
        width: 260px;
        float: right
    }

    .item-related {
        width: 184px;
        margin-right: 19px
    }

    .fullwidth .item-related {
        width: 274px;
        margin-right: 29px
    }

    #respond
    textarea {
        width: 94%
    }

    #footer-social
    a {
        margin-right: 16px
    }

    .fullwidth .grid-layout
    li {
        width: 294px;
        margin-right: 25px
    }

    .regular .grid-layout
    li {
        width: 310px
    }

    .list-item .post-img
    img {
        max-width: 170px
    }

    .list-item .post-header h2
    a {
        font-size: 14px;
        line-height: 26px
    }

    .list-item .post-header {
        margin-bottom: 2px
    }

    .list-item .post-entry
    p {
        font-size: 14px;
        margin-bottom: 3px;
        line-height: 20px
    }

    .list-item .post-header .cat
    a {
        margin-bottom: 2px
    }

    .list-item .list-content {
        margin-top: 8px
    }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
    .container {
        width: 726px
    }

    #navigation-wrapper {
        display: none
    }

    .slicknav_menu {
        display: block
    }

    #main {
        width: 100%;
        margin-right: 0
    }

    #sidebar {
        width: 100%
    }

    .widget {
        width: 500px;
        margin-left: auto;
        margin-right: auto
    }

    .item-related, .fullwidth .item-related {
        width: 208px;
        margin-right: 21px
    }

    #footer-social
    a {
        margin-right: 26px
    }

    #footer-social a
    span {
        display: none
    }

    #footer-social a
    i {
        height: 28px;
        width: 28px;
        line-height: 28px;
        font-size: 14px
    }

    .fullwidth .grid-layout li, .regular .grid-layout
    li {
        width: 348px;
        margin-right: 26px
    }

    .fullwidth .grid-layout li:nth-child(3n+3) {
        margin-right: 26px
    }

    .fullwidth .grid-layout li:nth-child(2n+2) {
        margin-right: 0
    }

    .fullwidth .list-item .post-entry
    p {
        font-size: 14px;
        margin-bottom: 3px;
        line-height: 20px
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 100%
    }

    #navigation-wrapper {
        display: none
    }

    .slicknav_menu {
        display: block
    }

    #logo {
        margin-left: 15px;
        margin-right: 15px
    }

    #main {
        width: 100%;
        margin-right: 0
    }

    #sidebar {
        width: 100%
    }

    .widget {
        padding: 0 15px
    }

    .post-entry {
        padding: 0 15px
    }

    .post-related {
        padding: 22px 15px
    }

    .post-author {
        padding: 30px 15px
    }

    .post-meta {
        padding: 0 15px 30px
    }

    .pagination {
        padding: 0 15px;
        margin-bottom: 40px
    }

    .item-related, .fullwidth .item-related {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px
    }

    .author-img {
        margin-right: 20px
    }

    .author-img
    img {
        width: 60px;
        height: 60px
    }

    .post-share {
        float: none;
        clear: both;
        padding-top: 15px
    }

    .thecomment .author-img {
        display: none
    }

    #respond
    textarea {
        width: 90%
    }

    #footer-social
    a {
        margin-right: 4px
    }

    #footer-social a
    span {
        display: none
    }

    #footer-social a
    i {
        height: 24px;
        width: 24px;
        line-height: 24px;
        font-size: 12px
    }

    #footer-copyright {
        padding: 20px 15px
    }

    .widget-instagram .instag ul.thumbnails > li {
        width: 25% !important
    }

    .widget-instagram .instag ul.thumbnails > li:nth-child(8), .widget-instagram .instag ul.thumbnails > li:nth-child(7), .widget-instagram .instag ul.thumbnails > li:nth-child(6), .widget-instagram .instag ul.thumbnails > li:nth-child(5) {
        display: none
    }

    .widget {
        width: 300px;
        margin-left: auto;
        margin-right: auto
    }

    .fullwidth .grid-layout li, .regular .grid-layout
    li {
        width: 100%;
        margin-right: 0
    }

    .fullwidth .grid-layout li:nth-child(3n+3), .regular .grid-layout li:nth-child(3n+3) {
        margin-right: 0
    }

    .fullwidth .grid-layout li:nth-child(2n+2), .regular .grid-layout li:nth-child(2n+2) {
        margin-right: 0
    }

    .grid-item .post-meta {
        padding-left: 15px
    }

    .list-item.post {
        margin-bottom: 20px
    }

    .list-item .list-content {
        margin-top: 6px
    }

    .list-item .post-img
    img {
        max-width: 100px
    }

    .list-item .post-entry
    p {
        display: none
    }

    .list-item .post-meta {
        display: none
    }

    .list-item .post-header h2
    a {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 1px
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        width: 100%
    }

    #main {
        width: 100%;
        margin-right: 0
    }

    #sidebar {
        width: 100%
    }

    .item-related, .fullwidth .item-related {
        width: 31.6%;
        margin-right: 2.5%
    }

    .item-related h3
    a {
        font-size: 10px
    }

    .author-img {
        margin-right: 30px
    }

    .author-img
    img {
        width: 80px;
        height: 80px
    }

    .post-share {
        float: right;
        clear: none;
        padding-top: 0
    }

    #footer-social
    a {
        margin-right: 20px
    }

    #footer-social a
    i {
        height: 28px;
        width: 28px;
        line-height: 28px;
        font-size: 14px
    }

    .widget {
        width: 400px;
        margin-left: auto;
        margin-right: auto
    }

    .fullwidth .grid-layout li, .regular .grid-layout
    li {
        width: 48%;
        margin-right: 3.2%
    }

    .fullwidth .grid-layout li:nth-child(3n+3), .regular .grid-layout li:nth-child(3n+3) {
        margin-right: 3.2%
    }

    .fullwidth .grid-layout li:nth-child(2n+2), .regular .grid-layout li:nth-child(2n+2) {
        margin-right: 0
    }

    .list-item .post-img
    img {
        max-width: 180px
    }

    .list-item .post-entry
    p {
        display: none
    }

    .list-item .post-meta {
        display: block
    }

    .list-item .post-header h2
    a {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px
    }

    .list-item .list-content {
        margin-top: 12px
    }
}