*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal
}

ol, ul, li {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal
}

q:before, q:after {
    content: ''
}

strong {
    font-weight: bold
}

em {
    font-style: italic
}

a
img {
    border: none
}

body {
    background: #f5f5f5;
    font-family: "Open Sans", sans-serif;
    font-size: 13px
}

p {
    font-family: "Crimson Text", serif;
    color: #161616;
    font-size: 16px;
    line-height: 24px
}

a {
    text-decoration: none;
    color: #EF9D87
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Oswald", sans-serif
}

.container {
    width: 1080px;
    margin: 0 auto;
}

#content {
    overflow: hidden
}

#main {
    width: 740px;
    float: left;
    margin-right: 40px
}

#main.fullwidth {
    width: 100%
}

#sidebar {
    width: 300px;
    float: right
}

#top-bar {
    background: #fff;
    height: 50px;
    position: fixed;
    width: 100%;
    z-index: 9999;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -webkit-backface-visibility: hidden
}

#top-bar
.container {
    position: relative
}

.slicknav_menu {
    display: none
}

.menu {
    float: left
}

.menu
li {
    display: inline-block;
    margin-right: 26px;
    position: relative
}

.menu li
a {
    /*font-weight: bold;*/
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    color: #777;
    display: block;
    font-family: "open sans";
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.menu li.current-menu-item a, .menu li.current_page_item a, .menu li a:hover {
    color: #EF9D87
}

.menu .sub-menu,
.menu
.children {
    background-color: #fff;
    display: none;
    padding: 0;
    position: absolute;
    margin-top: 0;
    left: 0;
    z-index: 99999;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1)
}

ul.menu ul a,
.menu ul ul
a {
    color: #999;
    margin: 0;
    padding: 6px 10px;
    min-width: 160px;
    line-height: 20px;
    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
    border-top: 1px solid #f4f4f4
}

ul.menu ul li,
.menu ul ul
li {
    padding-right: 0;
    margin-right: 0
}

ul.menu ul a:hover,
.menu ul ul a:hover {
    color: #fff;
    background: #EF9D87
}

ul.menu li:hover > ul,
.menu ul li:hover > ul {
    display: block
}

.menu .sub-menu ul,
.menu .children
ul {
    left: 100%;
    top: 0
}

#top-social {
    position: absolute;
    right: 66px;
    top: 0
}

#top-social
a {
    line-height: 50px;
    font-size: 14px;
    color: #c2c2c2;
    margin-left: 8px
}

#top-social a:hover {
    color: #EF9D87
}

#top-search {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    text-align: center;
    margin-left: 16px
}

#top-search
a {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #fff;
    background: #EF9D87;
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}

#top-search a:hover {
    opacity: .75
}

.show-search {
    position: absolute;
    top: 50px;
    right: -1px;
    display: none;
    z-index: 10000
}

.show-search #searchform
input#s {
    width: 190px;
    background: #FFF;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    border: 1px solid #eee
}

.show-search #searchform input#s:focus {
    border: 1px solid #ddd
}

#header {
    padding-top: 50px
}

#logo {
    text-align: center;
    padding: 60px 0 50px
}

#logo
img {
    max-width: 100%;
    height: auto
}

.post, #main > .page {
    background: #fff;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1)
}

.post-img {
    text-align: center
}

.post-img
img {
    max-width: 100%;
    width: auto;
    max-height: 500px;
}

.post-img.audio
iframe {
    height: 166px;
    width: 100%
}

.post-header {
    padding: 20px 30px 24px;
    text-align: center
}

.post-header h2 a, .post-header
h1 {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000;
    font-weight: 400;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.post-header h2 a:hover {
    opacity: .6
}

.page .post-header
h1 {
    margin-top: 5px
}

.post-header .cat
a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 1px;
    display: inline-block;
    margin-bottom: 8px
}

.post-header .cat a:hover {
    text-decoration: underline
}

.post-entry {
    padding: 0 30px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 10px;
    overflow: hidden;
}

.more-link {
    text-align: center;
    display: block
}

.more-button {
    border: 1px solid #e9e9e9;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    padding: 7px 16px 8px;
    display: inline-block;
    margin-top: 12px;
    font-family: "Open Sans", sans-serif;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.more-button:hover {
    background: #EF9D87;
    color: #fff;
    border: 1px solid;
    border-color: #EF9D87
}

.post-entry
img {
    max-width: 100%;
    height: auto
}

.post-entry a:hover {
    text-decoration: underline
}

.post-entry p, .post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry h6, .post-entry
hr {
    margin-bottom: 20px;
}

.post-entry h1, .post-entry h2, .post-entry h3, .post-entry h4, .post-entry h5, .post-entry
h6 {
    color: #000;
    font-weight: 400
}

.post-entry
h1 {
    font-size: 27px
}

.post-entry
h2 {
    font-size: 24px
}

.post-entry
h3 {
    font-size: 21px
}

.post-entry
h4 {
    font-size: 19px
}

.post-entry
h5 {
    font-size: 17px
}

.post-entry
h6 {
    font-size: 15px
}

.post-entry
hr {
    border: 0;
    height: 0;
    border-bottom: 1px solid #e5e5e5;
    clear: both
}

.post-entry blockquote
p {
    border-left: 3px solid #EF9D87;
    color: #999;
    padding: 0 18px;
    font-family: "Georgia";
    font-size: 18px;
    line-height: 28px;
    font-style: italic
}

.post-entry ul, .post-entry
ol {
    padding-left: 45px;
    margin-bottom: 20px;
    font-family: "Crimson Text", serif
}

.post-entry ul
li {
    margin-bottom: 12px;
    list-style: square
}

.post-entry ol
li {
    margin-bottom: 12px;
    list-style: decimal
}

.sticky.post .post-header {
}

.bypostauthor {
}

.post-entry
table {
    width: 100%;
    margin-bottom: 22px;
    border-collapse: collapse
}

.post-entry td, .post-entry
th {
    padding: 12px;
    border-bottom: 1px #e5e5e5 solid
}

.post-entry
th {
    font-weight: bold;
    font-size: 14px;
    background: #f5f5f5
}

.post-entry tr:hover {
    background: #f9f9f9
}

.post-meta {
    padding: 0 30px 30px;
    overflow: hidden
}

.post-meta .meta-info {
    font-style: italic;
    color: #a5a5a5;
    margin-right: 8px;
    font-family: "Crimson Text", serif;
    float: left;
    margin-top: 6px;
    font-size: 15px
}

.post-share {
    float: right;
    font-size: 12px
}

.post-share a
i {
    border: 1px solid #e8e8e8;
    width: 22px;
    height: 22px;
    text-align: center;
    line-height: 23px;
    border-radius: 50%;
    margin-left: 3px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.post-share a i:hover {
    background: #EF9D87;
    color: #fff;
    border: 1px solid #EF9D87
}

.post-author {
    padding: 30px;
    overflow: hidden;
    border-top: 1px solid #eee
}

.author-img {
    float: left;
    margin-right: 30px
}

.author-img
img {
    border-radius: 50%
}

.author-content {
    overflow: hidden
}

.author-content h5
a {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #000;
    display: block
}

.author-content
p {
    margin-bottom: 8px
}

.author-content .author-social {
    font-size: 14px;
    color: #bbb;
    margin-right: 8px
}

.author-content a.author-social:hover {
    color: #EF9D87
}

.post-pagination {
    border-top: 1px solid #eee;
    overflow: hidden
}

.post-pagination
a {
    font-size: 10px;
    padding: 15px 30px;
    display: block;
    color: #aaa;
    letter-spacing: 1px;
    text-transform: uppercase;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.post-pagination .pagi-prev {
    float: left;
    width: 50%
}

.post-pagination .pagi-next {
    float: right;
    width: 50%;
    text-align: right
}

.post-pagination a:hover {
    background: #EF9D87;
    color: #fff
}

.post-tags {
    margin-top: 30px;
    margin-bottom: -15px;
    padding-bottom: 13px
}

.post-tags
a {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background: #f2f2f2;
    color: #666;
    padding: 1px 6px 2px 8px;
    margin-right: 7px;
    border-radius: 3px;
    margin-bottom: 5px;
    display: inline-block;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.post-tags a:hover {
    background: #ddd;
    color: #666;
    text-decoration: none
}

.post-related {
    background: #fff;
    padding: 22px 30px;
    margin-top: -15px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    overflow: hidden
}

.block-heading {
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #000;
    display: block
}

.item-related {
    width: 212px;
    margin-right: 22px;
    float: left
}

.fullwidth .item-related {
    width: 320px;
    margin-right: 30px
}

.item-related:last-child, .fullwidth .item-related:last-child {
    margin-right: 0
}

.item-related
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 3px
}

.item-related h3
a {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000
}

.item-related h3 a:hover {
    text-decoration: underline
}

.item-related
h3 {
    margin-bottom: -1px
}

.item-related
span.date {
    font-size: 11px;
    font-style: italic;
    color: #999
}

.post-comments {
    background: #fff;
    padding: 22px 30px 1px;
    margin-top: -15px;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1)
}

.thecomment {
    border-bottom: 1px dotted #eee;
    padding-bottom: 34px;
    margin-bottom: 34px
}

.thecomment .author-img {
    float: left;
    margin-right: 25px
}

.thecomment .author-img
img {
    border-radius: 50%
}

.thecomment .comment-text {
    overflow: hidden
}

.thecomment .comment-text span.author, .thecomment .comment-text span.author
a {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
    color: #000;
    font-family: "Oswald"
}

.thecomment .comment-text span.author a:hover {
    text-decoration: underline
}

.thecomment .comment-text
span.date {
    font-size: 11px;
    color: #999;
    font-style: italic;
    display: block;
    margin-bottom: 10px
}

.thecomment .comment-text
em {
    font-size: 13px;
    margin-bottom: -14px;
    display: block;
    color: orange;
    letter-spacing: 1px
}

.thecomment .comment-text em
i {
    font-size: 14px;
    color: #f3bd00
}

.post-comments span.reply
a {
    float: right;
    font-size: 10px;
    background-color: #ccc;
    color: #FFF;
    padding: 3px 6px 5px 6px;
    border-radius: 2px;
    margin-left: 7px;
    font-family: "Lato";
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s
}

.post-comments span.reply a.comment-edit-link {
    background: #c5c5c5
}

.post-comments span.reply a:hover {
    opacity: .8
}

ul.children {
    margin: 0 0 0 55px
}

ul.children
li.thecomment {
    margin: 0 0 8px 0
}

#respond {
    overflow: hidden;
    margin-bottom: 20px
}

#respond
h3 {
    font-size: 14px;
    color: #999;
    font-weight: 400;
    margin-bottom: 20px;
    letter-spacing: 2px;
    text-transform: uppercase
}

#respond h3
a {
    color: #000;
    display: inline-block
}

#respond h3 small
a {
    text-transform: uppercase;
    font-size: 11px;
    background: #333;
    color: #FFF;
    padding: 4px 6px 5px;
    border-radius: 3px;
    margin-left: 7px;
    letter-spacing: 1px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s
}

#respond h3 small a:hover {
    opacity: .8
}

#respond
label {
    color: #888;
    width: 80px;
    font-size: 14px;
    display: inline-block;
    font-weight: 300
}

#respond
input {
    padding: 8px 10px;
    border: 1px solid #DDD;
    margin-right: 10px;
    border-radius: 3px;
    color: #999;
    margin-bottom: 15px;
    font-size: 11px;
    width: 250px;
    font-family: "Georgia"
}

#respond input:focus {
    outline: none
}

#respond .comment-form-url {
    margin-bottom: 10px
}

#respond
textarea {
    padding: 14px;
    border: 1px solid #DDD;
    border-radius: 3px;
    width: 95%;
    height: 120px;
    font-size: 13px;
    color: #777;
    margin-bottom: 14px;
    line-height: 20px;
    font-family: "Georgia"
}

#respond textarea:focus {
    outline: none
}

#respond
#submit {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #eee;
    border-radius: 0;
    font-size: 11px;
    color: #666;
    padding: 12px 19px 14px;
    margin-top: 6px;
    display: inline-block;
    border: none;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
    border-radius: 30px;
    width: auto
}

#respond #submit:hover {
    background: #333;
    color: #FFF
}

.grid-item {
    margin-bottom: 0
}

.grid-layout
li {
    display: inline-block;
    vertical-align: top;
    margin-right: 26px;
    margin-bottom: 30px
}

.regular .grid-layout
li {
    width: 355px
}

.regular .grid-layout li:nth-child(2n+2) {
    margin-right: 0
}

.fullwidth .grid-layout
li {
    width: 340px
}

.fullwidth .grid-layout li:nth-child(3n+3) {
    margin-right: 0
}

.grid-item .post-header {
    padding: 18px 30px 18px
}

.grid-item .post-header h2
a {
    font-size: 18px
}

.grid-item .post-entry
p {
    margin-bottom: 2px
}

.grid-item .post-meta {
    padding: 0 30px 20px
}

.list-item {
    overflow: hidden
}

.list-item.post {
    margin-bottom: 30px;
    height:200px;
}

.list-item .post-img {
    float: left;
    margin-right: 20px
}

.list-item .post-img
img {
    max-width: 250px;
    vertical-align: middle;
    height:auto;
    width:250px;
}

.list-item .list-content {
    overflow: hidden;
    margin-top: 0px;
    padding-right: 18px;
    /*height: 260px;*/
}

.list-item .post-header {
    text-align: left;
    padding: 0;
    margin-bottom: 8px
}

.list-item .post-entry {
    padding: 0;
    margin: 0
}

.list-item .post-entry
p {
    margin: 0 0 6px
}

.list-item .post-meta {
    padding: 0
}

.list-item .post-header h2
a {
    font-size: 18px;
    line-height: 28px
}

.list-item .post-header .cat
a {
    margin-bottom: 5px
}

.pagination {
    margin-bottom: 20px;
    overflow: hidden
}

/*.pagination*/
/*a {*/
    /*padding: 14px 20px;*/
    /*display: inline-block;*/
    /*font-family: "Open Sans", sans-serif;*/
    /*letter-spacing: 2px;*/
    /*text-transform: uppercase;*/
    /*font-size: 11px;*/
    /*background: #fff;*/
    /*-o-transition: .3s;*/
    /*-ms-transition: .3s;*/
    /*-moz-transition: .3s;*/
    /*-webkit-transition: .3s*/
/*}*/

/*.pagination a:hover {*/
    /*text-decoration: none;*/
    /*color: #fff;*/
    /*background: #EF9D87*/
/*}*/

.pagination
.newer {
    float: left
}

.pagination
.older {
    float: right
}

.widget {
    margin-bottom: 40px
}

.widget
img {
    max-width: 100%;
    height: auto
}

.widget-heading {
    overflow: hidden;
    text-align: center;
    font-size: 11px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #161616
}

.widget-heading > span {
    position: relative;
    display: inline-block;
    color: #23aae1;
}

.widget-heading > span:before, .widget-heading > span:after {
    content: "";
    position: absolute;
    top: 50%;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    width: 591px;
    margin: 0 14px
}

.widget-heading > span:before {
    right: 100%
}

.widget-heading > span:after {
    left: 100%
}

.widget a:hover {
    text-decoration: underline
}

.widget ul
li {
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px dotted #d5d5d5
}

.widget ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.widget input, .widget
select {
    border: 1px solid #e5e5e5;
    color: #999;
    padding: 9px 7px;
    width: 100%
}

.about-widget
img {
    margin-bottom: 8px
}

.widget-social {
    text-align: center
}

.widget-social a:first-child {
    margin-left: 0
}

.widget-social a:last-child {
    margin-right: 0
}

.widget-social a
i {
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    background: #ef9d87;
    color: #fff;
    border-radius: 50%;
    margin: 0 2px 4px;
    font-size: 14px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.widget-social a:hover {
    opacity: .8
}

.widget-social a:hover > i {
    opacity: .8
}

.widget ul.side-newsfeed
li {
    list-style-type: none;
    margin-bottom: 17px;
    padding-bottom: 13px;
    margin-left: 0
}

.widget ul.side-newsfeed li:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}

.widget ul.side-newsfeed li .side-item {
    overflow: hidden
}

.widget ul.side-newsfeed li .side-item .side-image {
    float: left;
    margin-right: 14px
}

.widget ul.side-newsfeed li .side-item .side-image
img {
    width: 88px;
    height: auto
}

.widget ul.side-newsfeed li .side-item .side-item-text {
    overflow: hidden
}

.widget ul.side-newsfeed li .side-item .side-item-text h4
a {
    margin-bottom: 1px;
    color: #000;
    display: block;
    font-size: 13px;
    font-family: "Open Sans", sans-serif
}

.widget ul.side-newsfeed li .side-item .side-item-text .side-item-meta {
    font-size: 11px;
    color: #999;
    font-style: italic
}

.instag ul.thumbnails > li {
    width: 32% !important
}

.instag ul.thumbnails > li img:hover {
    opacity: .8
}

.instag ul
li {
    margin: 0;
    padding-bottom: 0;
    border-bottom: none
}

.pllexislider ul
li {
    margin: 0;
    padding-bottom: 0;
    border-bottom: none
}

.widget_categories {
    color: #a5a5a5
}

.widget_categories
a {
    margin-right: 10px
}

.widget .tagcloud
a {
    font-size: 10px !important;
    letter-spacing: 1px;
    text-transform: uppercase;
    /*background: #EF9D87;*/
    /*background: #23aae1!important;*/
    background: #EF9D87!important;
    color: #fff;
    padding: 6px 8px 7px;
    margin-right: 5px;
    margin-bottom: 8px;
    display: inline-block;
    border-radius: 2px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

.widget .tagcloud a:hover {
    opacity: .6;
    text-decoration: none
}

#wp-calendar {
    width: 100%
}

#wp-calendar
caption {
    text-align: right;
    color: #777;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px
}

#wp-calendar
thead {
    font-size: 12px
}

#wp-calendar thead
th {
    padding-bottom: 10px
}

#wp-calendar
tbody {
    color: #aaa
}

#wp-calendar tbody
td {
    background: #f5f5f5;
    border: 1px solid #fff;
    text-align: center;
    padding: 8px
}

#wp-calendar tbody td
a {
    font-weight: 700;
    color: #222
}

#wp-calendar tbody td:hover {
    background: #fff
}

#wp-calendar tbody
.pad {
    background: none
}

#wp-calendar tfoot
#next {
    font-size: 10px;
    text-transform: uppercase;
    text-align: right
}

#wp-calendar tfoot
#prev {
    font-size: 10px;
    text-transform: uppercase;
    padding-top: 10px
}

#wp-calendar thead
th {
    padding-bottom: 10px;
    text-align: center
}

#searchform
input#s {
    border: 1px solid #e5e5e5;
    background: #fff url(/florence/wp-content/themes/florence/img/searchsubmit.png) no-repeat 96% 13px;
    padding: 14px 14px;
    color: #999;
    letter-spacing: 1px;
    font-size: 20px;
}

#searchform #s:focus {
    outline: none
}

.widget #searchform
input#s {
    width: 300px
}

#footer {
    margin-top: 35px;
    padding-bottom: 40px;
    background: #fff
}

#footer-instagram {
    text-align: center;
    overflow: hidden;
    background: #fff
}

#footer-instagram h4.block-heading {
    margin-bottom: 30px;
    padding-top: 30px;
    color: #000
}

.widget-instagram .instag ul.thumbnails > li, .widget-instagram .jr-insta-thumb ul > li {
    width: 12.5% !important;
    display: inline;
    float: left;
    margin-bottom: -6px;
    padding: 0 !important
}

.jr-insta-thumb
.thumbnails {
    padding: 0 !important
}

#footer-social {
    padding: 30px 0;
    background: #EF9D87;
    text-align: center
}

#footer-social
a {
    margin: 0 36px 0 0;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s
}

#footer-social a:first-child {
    margin-left: 0
}

#footer-social a:last-child {
    margin-right: 0
}

#footer-social a
i {
    height: 28px;
    width: 28px;
    text-align: center;
    line-height: 28px;
    background: #fff;
    color: #EF9D87;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 14px
}

#footer-social a:hover {
    text-decoration: none;
    opacity: .8
}

#footer-social a:hover > i {
    opacity: .8
}

#footer-copyright {
    padding: 20px 0;
    font-size: 11px;
    color: #999;
    background: #fff;
    overflow: hidden
}

#footer-copyright
span.left {
    float: left
}

#footer-copyright .to-top {
    float: right;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    color: #aaa
}

#footer-copyright .to-top
i {
    font-size: 14px;
    margin-left: 3px
}

#footer-copyright .to-top:hover {
    text-decoration: none
}

.archive-box {
    background: #fff;
    padding: 18px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    -moz-box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    box-shadow: 0 5px 4px -4px rgba(190, 190, 190, .1);
    text-align: center
}

.archive-box
span {
    font-size: 11px;
    font-style: italic;
    letter-spacing: 1px;
    color: #999;
    margin-bottom: 4px;
    display: inline-block
}

.archive-box
h1 {
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase
}

.error-page {
    text-align: center;
    padding-top: 50px
}

.error-page
h1 {
    font-size: 190px
}

.error-page
p {
    color: #888
}

.wpcf7
input {
    width: 266px
}

div.wpcf7 {
    overflow: hidden;
    margin-top: 40px
}

.wpcf7 input, .wpcf7
textarea {
    padding: 8px;
    border: 1px solid #DDD;
    margin-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #777;
    font-size: 12px;
    margin-top: 6px;
    margin-bottom: 6px
}

.wpcf7
textarea {
    width: 95%
}

.wpcf7 .wpcf7-submit {
    background: #eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 12px 24px;
    color: #666;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    transition: .3s;
    display: block;
    border: none;
    width: auto
}

.wpcf7 .wpcf7-submit:hover {
    background: #333;
    color: #fff
}

.alignnone {
    margin: 5px 20px 20px 0
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a
img.alignright {
    float: right;
    margin: 5px 0 20px 20px
}

a
img.alignnone {
    margin: 5px 20px 20px 0
}

a
img.alignleft {
    float: left;
    margin: 5px 20px 20px 0
}

a
img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px
}

.wp-caption
img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px
}

.gallery .gallery-caption {
    font-size: 12px;
    color: #888;
    font-family: "Open Sans"
}

.gallery .gallery-icon
img {
    border-radius: 2px;
    border: 1px solid #eee !important;
    padding: 7px
}

.gallery .gallery-icon img:hover {
    border: 1px solid #ccc !important
}
h1.title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: tohomo;
    padding-top: 25px;
}

.find_with {
    margin-bottom: 18px;
    font-family: Roboto;
    color: #23aae1!important;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}
.error {
    color: red;
    font-size: 12px;
}
*{
    /*font-family: Roboto;*/
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}



/*TUONGLV*/

.post_title {


}
.post_title a{
    color: #000000;
    font-size: 20px;

}

.pagination li , .pagination a{
    cursor: pointer;
}

.copyright{
    /*line-height: 28px;*/
}

.pagination>li>a, .pagination>li>span{
    padding: 10px 16px!important;
}

/*.front_pagination .pagination ul li:hover , .front_pagination .pagination span:hover{*/
    /*background: #EF9D87;*/
    /*color: white;*/
/*}*/
/*.front_pagination .pagination span {*/
    /*padding: 14px 20px;*/
    /*display: inline-block;*/
    /*font-family: "Open Sans", sans-serif;*/
    /*letter-spacing: 2px;*/
    /*text-transform: uppercase;*/
    /*font-size: 11px;*/
    /*background: #fff;*/
    /*-o-transition: .3s;*/
    /*-ms-transition: .3s;*/
    /*-moz-transition: .3s;*/
    /*-webkit-transition: .3s;*/
    /*color: #EF9D87;*/
/*}*/
/*.front_pagination .pagination li {*/
    /*display: inline!important;*/
/*}*/

/*FOOTER*/

.wrapper_content{
    border-bottom: 1px dotted #d4d4d4;
    padding-bottom: 20px;
}
#footer ul{
    padding: 0;
    margin: 0;
}
#footer ul li{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
}

#footer ul li a {
    padding-right: 20px;
    /*font-size: 20px;*/
    color: rgba(0,0,0,0.5);
    /*color: #23aae1;*/
    /*color: rgba(255, 255, 255, 0.5);*/
}

#footer span {
    color: rgba(0,0,0,0.5);
    padding-left: 20px;
}

#footer ul li:last-child a{
    margin-right: 0;
}

#footer-copyright span.left{
    float: none;
}

.list-content .cat {
    font-size: 10px;
    margin-bottom:4px;
}

.list-content .cat a{
    background: #23aae1;
    padding: 6px 8px 7px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-radius: 2px;
}

.list-content .cat a:hover{
    opacity: 0.6;
}

.wrap_search{
    margin-bottom: 15px;

}

.wrap_search .btn_search{
    color: #23aae1;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 11px 12px;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 20px;
    margin-top: -7px;
}

.wrap_search .btn_search:hover {
    opacity: 0.7;
}

.wrap_search .input_search{
    /*color: #23aae1!important;*/
    width:67%;
}

.post-header .title_post_detail a{
    font-size: 22px!important;
    background: bisque;
}

#header .container{
    border-bottom: 5px solid white;
    margin-bottom: 20px;
}

.item-related img {
    width: 200px;
    height: 130px;
}

.list-item.post{
    padding-top: 7px;
    padding-left: 7px;
}

.btn_login {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 50px;
    color: #777777;
    display: block;
    font-family: "open sans";
    -o-transition: .3s;
    -ms-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
    float: right;
}

.btn_login a{
    margin:0 5px;
}

.btn_login a:hover{
    opacity: 0.5;
}
#footer .container {
    margin-bottom:0!important;
}

h1.title{
    padding:5px;
    color: #1e3b82;
}

.img_author{
    width: 380px;
    border-radius: 50%;
    max-height: 380px;
}

#top-bar a
{
    color : #23aae1!important;
    font-weight:bold;
}
#top-bar a:hover  {
    color: #EF9D87!important;
}

ul.menu ul a:hover {
    background: #FFFFFF!important;
}

body{
    background: rgba(245, 245, 245, 0.17);
}
.list-item .post-meta {
    margin-top:4px;
}

.author_posted .list-item.post {
    height:auto;
    margin-bottom:20px;
}

.author_posted .list-item .post-img img{
    width: 200px;
    height: 130px;
}

#user-header img {
    height:36px;
}