/**
 * [Table of contents]
 *
 * [&. Content / #key]
 * [Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
 *
 * Summary:
 *
 *  0. VARIABLE LESS
 *    - 0.1. Color
 *    - 0.2. Font
 *  1. GLOBAL STYLE
 *    - 1.1. Scaffolding
 *    - 1.2. CSS for page
 *  2. HEADER
 *    - 2.1. Header Topbar
 *    - 2.2. Header banner
 *    - 2.3. Header main
 *    - 2.4. Navigation / Menu
 *    - 2.5. More style
 *  3. FOOTER
 *    - 3.1. Main Footer
 *    - 3.2. Sub Footer
 *    - 3.3. Copyright
 *  4. SIDEBAR
 *    - 4.1. Left Sidebar
 *    - 4.2. Right Sidebar
 *    - 4.3. Both Sidebar
 */

/*============================
=====   VARIABLE LESS    =====
=============================*/

/*----------  0.3. Mixins  ----------*/

/**
 * [Table of contents]
 *
 * [&. Content / #key]
 * [Let press Ctrl + f and type of paste the key, then press Enter to search the content ]
 *
 * Summary:
 *
 *  0. VARIABLE LESS
 *  1. MIXINS


/*=============================
 =====   VARIABLE LESS    =====
 =============================*/

/*----------  0.1. Color  ----------*/

.news {
    color: #ad0000 !important;
}

.sport a:hover,
.sport a:hover .title,
.sport .label-topic,
.sport .btn-email .icons,
.sport .label-topic-2,
.sport .nav-tabs li.active .tab,
.sport .title-topic,
.sport .catelory-widget .info-list .link:hover .icons,
.sport .breaking-news .label-title,
.sport .score,
.sport .tab-news-1 li .tab,
.sport .mega-menu .single-recent-post-widget .title {
    color: #ff9500 !important;
}

.sport .breaking-news .vticker li .link .btn-read .icons:after {
    border-color: #ff9500;
}

.sport .tab-news-1 li.active .tab,
.sport .tab-news-1 li:hover .tab {
    border-color: #ff9500 !important;
}

.sport .content-wrapper:hover {
    border: 2px solid #ff9500;
}

.sport .nav-tabs li:before {
    background-color: #ff9500 !important;
}

.sport .label-topic-1 {
    border-color: #ff9500;
}

.sport .label-topic-1:before {
    background-color: #ff9500;
}

.sport .label-topic-1:hover {
    color: #ffffff !important;
}

.sport .pagination .active a {
    color: #ffffff;
    border-color: #ff9500;
    background-color: #ff9500;
}

.sport .pagination > li:hover.active a {
    color: #ffffff;
    border-color: #ff9500;
    background-color: #ff9500;
}

.sport .pagination > li:hover a {
    color: #ff9500;
    border-color: #ff9500;
    background-color: transparent;
}

.sport .pagination > li:hover a span:before {
    color: #ff9500;
}

.sport.tag-list .tag-link:hover {
    color: #ffffff !important;
    background-color: #ff9500 !important;
}

.sport .list-socials li:hover {
    background-color: #ff9500;
}

.sport .btn {
    background-color: #ff9500;
}

.sport .btn:hover {
    color: #ff9500;
    border-color: #ff9500;
    background-color: #ffffff;
}

.sport.banner-news-wrapper .slide-items li:before {
    background: #ff9500;
}

.sport.banner-news-wrapper .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ff9500;
}

.sport .banner-stock-tab li .tab:before {
    background-color: #ff9500;
}

.sport .slick-dots li button {
    border-color: #ff9500;
}

.sport .slick-dots li:hover button {
    background-color: #ff9500;
}

.sport .slick-dots .slick-active button {
    background-color: #ff9500;
}

.business a:hover,
.business a:hover .title,
.business .label-topic,
.business .btn-email .icons,
.business .label-topic-2,
.business .nav-tabs li.active .tab,
.business .title-topic,
.business .catelory-widget .info-list .link:hover .icons,
.business .breaking-news .label-title,
.business .score,
.business .tab-news-1 li .tab,
.business .mega-menu .single-recent-post-widget .title {
    color: #1d87a6 !important;
}

.business .breaking-news .vticker li .link .btn-read .icons:after {
    border-color: #1d87a6;
}

.business .tab-news-1 li.active .tab,
.business .tab-news-1 li:hover .tab {
    border-color: #1d87a6 !important;
}

.business .content-wrapper:hover {
    border: 2px solid #1d87a6;
}

.business .nav-tabs li:before {
    background-color: #1d87a6 !important;
}

.business .label-topic-1 {
    border-color: #1d87a6;
}

.business .label-topic-1:before {
    background-color: #1d87a6;
}

.business .label-topic-1:hover {
    color: #ffffff !important;
}

.business .pagination .active a {
    color: #ffffff;
    border-color: #1d87a6;
    background-color: #1d87a6;
}

.business .pagination > li:hover.active a {
    color: #ffffff;
    border-color: #1d87a6;
    background-color: #1d87a6;
}

.business .pagination > li:hover a {
    color: #1d87a6;
    border-color: #1d87a6;
    background-color: transparent;
}

.business .pagination > li:hover a span:before {
    color: #1d87a6;
}

.business.tag-list .tag-link:hover {
    color: #ffffff !important;
    background-color: #1d87a6 !important;
}

.business .list-socials li:hover {
    background-color: #1d87a6;
}

.business .btn {
    background-color: #1d87a6;
}

.business .btn:hover {
    color: #1d87a6;
    border-color: #1d87a6;
    background-color: #ffffff;
}

.business.banner-news-wrapper .slide-items li:before {
    background: #1d87a6;
}

.business.banner-news-wrapper .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #1d87a6;
}

.business .banner-stock-tab li .tab:before {
    background-color: #1d87a6;
}

.business .slick-dots li button {
    border-color: #1d87a6;
}

.business .slick-dots li:hover button {
    background-color: #1d87a6;
}

.business .slick-dots .slick-active button {
    background-color: #1d87a6;
}

.entertainment a:hover,
.entertainment a:hover .title,
.entertainment .label-topic,
.entertainment .btn-email .icons,
.entertainment .label-topic-2,
.entertainment .nav-tabs li.active .tab,
.entertainment .title-topic,
.entertainment .catelory-widget .info-list .link:hover .icons,
.entertainment .breaking-news .label-title,
.entertainment .score,
.entertainment .tab-news-1 li .tab,
.entertainment .mega-menu .single-recent-post-widget .title {
    color: #713acf !important;
}

.entertainment .breaking-news .vticker li .link .btn-read .icons:after {
    border-color: #713acf;
}

.entertainment .tab-news-1 li.active .tab,
.entertainment .tab-news-1 li:hover .tab {
    border-color: #713acf !important;
}

.entertainment .content-wrapper:hover {
    border: 2px solid #713acf;
}

.entertainment .nav-tabs li:before {
    background-color: #713acf !important;
}

.entertainment .label-topic-1 {
    border-color: #713acf;
}

.entertainment .label-topic-1:before {
    background-color: #713acf;
}

.entertainment .label-topic-1:hover {
    color: #ffffff !important;
}

.entertainment .pagination .active a {
    color: #ffffff;
    border-color: #713acf;
    background-color: #713acf;
}

.entertainment .pagination > li:hover.active a {
    color: #ffffff;
    border-color: #713acf;
    background-color: #713acf;
}

.entertainment .pagination > li:hover a {
    color: #713acf;
    border-color: #713acf;
    background-color: transparent;
}

.entertainment .pagination > li:hover a span:before {
    color: #713acf;
}

.entertainment.tag-list .tag-link:hover {
    color: #ffffff !important;
    background-color: #713acf !important;
}

.entertainment .list-socials li:hover {
    background-color: #713acf;
}

.entertainment .btn {
    background-color: #713acf;
}

.entertainment .btn:hover {
    color: #713acf;
    border-color: #713acf;
    background-color: #ffffff;
}

.entertainment.banner-news-wrapper .slide-items li:before {
    background: #713acf;
}

.entertainment.banner-news-wrapper .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #713acf;
}

.entertainment .banner-stock-tab li .tab:before {
    background-color: #713acf;
}

.entertainment .slick-dots li button {
    border-color: #713acf;
}

.entertainment .slick-dots li:hover button {
    background-color: #713acf;
}

.entertainment .slick-dots .slick-active button {
    background-color: #713acf;
}

.travel a:hover,
.travel a:hover .title,
.travel .label-topic,
.travel .btn-email .icons,
.travel .label-topic-2,
.travel .nav-tabs li.active .tab,
.travel .title-topic,
.travel .catelory-widget .info-list .link:hover .icons,
.travel .breaking-news .label-title,
.travel .score,
.travel .tab-news-1 li .tab,
.travel .mega-menu .single-recent-post-widget .title {
    color: #31c7dd !important;
}

.travel .breaking-news .vticker li .link .btn-read .icons:after {
    border-color: #31c7dd;
}

.travel .tab-news-1 li.active .tab,
.travel .tab-news-1 li:hover .tab {
    border-color: #31c7dd !important;
}

.travel .content-wrapper:hover {
    border: 2px solid #31c7dd;
}

.travel .nav-tabs li:before {
    background-color: #31c7dd !important;
}

.travel .label-topic-1 {
    border-color: #31c7dd;
}

.travel .label-topic-1:before {
    background-color: #31c7dd;
}

.travel .label-topic-1:hover {
    color: #ffffff !important;
}

.travel .pagination .active a {
    color: #ffffff;
    border-color: #31c7dd;
    background-color: #31c7dd;
}

.travel .pagination > li:hover.active a {
    color: #ffffff;
    border-color: #31c7dd;
    background-color: #31c7dd;
}

.travel .pagination > li:hover a {
    color: #31c7dd;
    border-color: #31c7dd;
    background-color: transparent;
}

.travel .pagination > li:hover a span:before {
    color: #31c7dd;
}

.travel.tag-list .tag-link:hover {
    color: #ffffff !important;
    background-color: #31c7dd !important;
}

.travel .list-socials li:hover {
    background-color: #31c7dd;
}

.travel .btn {
    background-color: #31c7dd;
}

.travel .btn:hover {
    color: #31c7dd;
    border-color: #31c7dd;
    background-color: #ffffff;
}

.travel.banner-news-wrapper .slide-items li:before {
    background: #31c7dd;
}

.travel.banner-news-wrapper .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #31c7dd;
}

.travel .banner-stock-tab li .tab:before {
    background-color: #31c7dd;
}

.travel .slick-dots li button {
    border-color: #31c7dd;
}

.travel .slick-dots li:hover button {
    background-color: #31c7dd;
}

.travel .slick-dots .slick-active button {
    background-color: #31c7dd;
}

.tech a:hover,
.tech a:hover .title,
.tech .label-topic,
.tech .btn-email .icons,
.tech .label-topic-2,
.tech .nav-tabs li.active .tab,
.tech .title-topic,
.tech .catelory-widget .info-list .link:hover .icons,
.tech .breaking-news .label-title,
.tech .score,
.tech .tab-news-1 li .tab,
.tech .mega-menu .single-recent-post-widget .title {
    color: #1641f9 !important;
}

.tech .breaking-news .vticker li .link .btn-read .icons:after {
    border-color: #1641f9;
}

.tech .tab-news-1 li.active .tab,
.tech .tab-news-1 li:hover .tab {
    border-color: #1641f9 !important;
}

.tech .content-wrapper:hover {
    border: 2px solid #1641f9;
}

.tech .nav-tabs li:before {
    background-color: #1641f9 !important;
}

.tech .label-topic-1 {
    border-color: #1641f9;
}

.tech .label-topic-1:before {
    background-color: #1641f9;
}

.tech .label-topic-1:hover {
    color: #ffffff !important;
}

.tech .pagination .active a {
    color: #ffffff;
    border-color: #1641f9;
    background-color: #1641f9;
}

.tech .pagination > li:hover.active a {
    color: #ffffff;
    border-color: #1641f9;
    background-color: #1641f9;
}

.tech .pagination > li:hover a {
    color: #1641f9;
    border-color: #1641f9;
    background-color: transparent;
}

.tech .pagination > li:hover a span:before {
    color: #1641f9;
}

.tech.tag-list .tag-link:hover {
    color: #ffffff !important;
    background-color: #1641f9 !important;
}

.tech .list-socials li:hover {
    background-color: #1641f9;
}

.tech .btn {
    background-color: #1641f9;
}

.tech .btn:hover {
    color: #1641f9;
    border-color: #1641f9;
    background-color: #ffffff;
}

.tech.banner-news-wrapper .slide-items li:before {
    background: #1641f9;
}

.tech.banner-news-wrapper .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #1641f9;
}

.tech .banner-stock-tab li .tab:before {
    background-color: #1641f9;
}

.tech .slick-dots li button {
    border-color: #1641f9;
}

.tech .slick-dots li:hover button {
    background-color: #1641f9;
}

.tech .slick-dots .slick-active button {
    background-color: #1641f9;
}

.lifestyle a:hover,
.lifestyle a:hover .title,
.lifestyle .label-topic,
.lifestyle .btn-email .icons,
.lifestyle .label-topic-2,
.lifestyle .nav-tabs li.active .tab,
.lifestyle .title-topic,
.lifestyle .catelory-widget .info-list .link:hover .icons,
.lifestyle .breaking-news .label-title,
.lifestyle .score,
.lifestyle .tab-news-1 li .tab,
.lifestyle .mega-menu .single-recent-post-widget .title {
    color: #08b748 !important;
}

.lifestyle .breaking-news .vticker li .link .btn-read .icons:after {
    border-color: #08b748;
}

.lifestyle .tab-news-1 li.active .tab,
.lifestyle .tab-news-1 li:hover .tab {
    border-color: #08b748 !important;
}

.lifestyle .content-wrapper:hover {
    border: 2px solid #08b748;
}

.lifestyle .nav-tabs li:before {
    background-color: #08b748 !important;
}

.lifestyle .label-topic-1 {
    border-color: #08b748;
}

.lifestyle .label-topic-1:before {
    background-color: #08b748;
}

.lifestyle .label-topic-1:hover {
    color: #ffffff !important;
}

.lifestyle .pagination .active a {
    color: #ffffff;
    border-color: #08b748;
    background-color: #08b748;
}

.lifestyle .pagination > li:hover.active a {
    color: #ffffff;
    border-color: #08b748;
    background-color: #08b748;
}

.lifestyle .pagination > li:hover a {
    color: #08b748;
    border-color: #08b748;
    background-color: transparent;
}

.lifestyle .pagination > li:hover a span:before {
    color: #08b748;
}

.lifestyle.tag-list .tag-link:hover {
    color: #ffffff !important;
    background-color: #08b748 !important;
}

.lifestyle .list-socials li:hover {
    background-color: #08b748;
}

.lifestyle .btn {
    background-color: #08b748;
}

.lifestyle .btn:hover {
    color: #08b748;
    border-color: #08b748;
    background-color: #ffffff;
}

.lifestyle.banner-news-wrapper .slide-items li:before {
    background: #08b748;
}

.lifestyle.banner-news-wrapper .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #08b748;
}

.lifestyle .banner-stock-tab li .tab:before {
    background-color: #08b748;
}

.lifestyle .slick-dots li button {
    border-color: #08b748;
}

.lifestyle .slick-dots li:hover button {
    background-color: #08b748;
}

.lifestyle .slick-dots .slick-active button {
    background-color: #08b748;
}

/*----------  0.2. Font  ----------*/

/*=============================
 ====  END VARIABLE LESS   ====
 =============================*/

/*=============================
 =====       MIXINS       =====
 =============================*/

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    display: table;

    content: '';
}

.clearfix:after {
    clear: both;
}

/*=============================
 ====      END MIXINS      ====
 =============================*/

/*============================
====  END VARIABLE LESS   ====
=============================*/

/*============================
======   GLOBAL STYLE   ======
=============================*/

/*----------  1.1. Scaffolding  ----------*/

html * {
    outline: 0 !important;
}

html,
body {
    height: 100%;
    margin: 0 auto;
    padding: 0;

    -wenkit-font-smoothing: subpixel-antialiased;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    color: #141414;
    background-color: #ffffff;
}

a {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;

    color: #ad0000;
    border-bottom: none;
}

input {
    height: 40px;

    border-radius: 0 !important;
}

input:focus,
input:active {
    border: none;
    box-shadow: none;
}

.body-wrapper {
    position: relative;

    overflow: hidden;
}

.hidden-scroll {
    overflow: hidden;
}

.overflow-hidden {
    overflow: hidden;

    margin: 0;
    padding: 0;
}

/*----------  1.2. CSS for page  ----------*/

.padding-top-100 {
    padding-top: 100px;
}

.padding-bottom-100 {
    padding-bottom: 100px;
}

.padding-top-60 {
    padding-top: 60px;
}

.padding-bottom-60 {
    padding-bottom: 60px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-bottom-60 {
    margin-bottom: 60px;
}

.margin-top-30 {
    margin-top: 30px;
}

/*==============================
======  END GLOBAL STYLE  ======
===============================*/

/*=============================
========     HEADER     ========
===============================*/

.header-main {
    position: relative;
    z-index: 100;

    box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
}

.header-main.sport .header-middle {
    background-image: url('../img/footer/bg-sport-header.jpg');
    background-position: center;
    background-size: cover;
}

.header-main.sport .header-middle .more-infomation {
    background-color: transparent;
}

.header-main.sport .header-middle .sub-navigation .link .description {
    color: #c6ccd8 !important;
}

.header-main.entertainment {
    background-image: url('../img/footer/bg-entertainment-header.jpg');
    background-position: center;
    background-size: cover;
}

.header-main.entertainment .header-top {
    background-color: rgba(0, 0, 0, .2);
}

.header-main.entertainment .header-middle {
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    background-color: transparent;
}

.header-main.entertainment .header-middle.sticky-header {
    background-image: url('../img/footer/bg-entertainment-header.jpg');
    background-position: center;
    background-size: cover;
}

.header-main.entertainment .header-middle.sticky-header .banner-wrapper {
    padding: 0;
}

.header-main.entertainment .breaking-news > .text {
    width: 140px;
}

.header-main.entertainment .breaking-news .vticker li .link {
    line-height: 29px;
}

.header-main.entertainment .nav-search {
    top: 60px;
}

.header-main.business .sub-navigation {
    text-align: right;
}

.header-main.business .sub-navigation li {
    width: 120px;
}

.header-main.business .sub-navigation .link {
    border-left: 0;
}

.header-main.business .more-infomation {
    border-left: 0;
    background-color: #141414;
}

.header-main.business .breaking-news > .text {
    width: 120px;
}

.header-top {
    text-align: center;

    background-color: #1d1d1d;
}

.header-top .img-banner {
    display: block;

    padding: 20px 0;
}

.header-top .img-banner img {
    display: inline-block;

    margin: 0 auto;
}

.header-middle {
    position: relative;
    z-index: 101;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    color: #ffffff;
    background-color: #141414;
}

.header-middle .header-middle-wrapper {
    display: table;

    width: 100%;
}

.header-middle .banner-wrapper {
    display: table-cell;
    float: right;

    padding: 20px 0;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    vertical-align: middle;
}

.header-bottom {
    background-color: #161616;
}

.sticky-header {
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    left: 0;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.check.hidden-header {
    top: -200px;
}

.breaking-news {
    position: relative;

    display: table;

    width: 100%;
    padding: 10px 0;
}

.breaking-news > .text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;

    display: table-cell;

    width: 80px;
    min-width: 80px;
    padding: 5px 0;

    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

    color: #ffffff;
    background-color: #ad0000;
}

.breaking-news .wrapper-news {
    display: table-cell;

    padding-left: 20px;
}

.breaking-news .vticker li .link {
    line-height: 38px;

    color: #ffffff;
}

.breaking-news .vticker li .link .text {
    margin-right: 50px;
}

.breaking-news .vticker li .link .text:hover {
    color: #ad0000;
}

.breaking-news .vticker li .link .btn-read {
    font-size: 11px;

    padding: 0;

    text-transform: uppercase;

    color: #ffffff;
}

.breaking-news .vticker li .link .btn-read .icons {
    font-size: 14px;

    position: relative;

    margin-right: 10px;
}

.breaking-news .vticker li .link .btn-read .icons:before {
    position: relative;
    z-index: 1;
}

.breaking-news .vticker li .link .btn-read .icons:after {
    position: absolute;
    z-index: 0;
    top: 0;
    left: -8px;

    width: 15px;
    height: 15px;

    content: '';

    border: 2px solid #ad0000;
}

.breaking-news .btn-close-breaking-news {
    position: absolute;
    top: 50%;
    right: 20px;

    margin-top: -12px;

    cursor: pointer;

    color: rgba(255, 255, 255, .4);
}

.breaking-news .label-title {
    font-size: 10px;
    font-weight: bold;

    position: relative;

    display: table-cell;

    padding-right: 10px;
    padding-left: 20px;

    vertical-align: middle;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #ad0000;
}

.breaking-news .label-title:after {
    position: absolute;
    top: 50%;
    right: 0;

    width: 2px;
    height: 16px;
    margin-top: -8px;

    content: '';

    background-color: #403e3c;
}

.breaking-news.business > .text {
    width: 120px;
}

.slide-live-score {
    width: 80%;
    max-width: 800px;
}

.slide-live-score .live-scrore-list {
    margin: 0;
}

.slide-live-score .live-scrore-list .item {
    padding: 0 15px;

    text-align: center;
}

.slide-live-score .live-scrore-list .item .name {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    line-height: 40px;

    text-transform: capitalize;

    color: #dfdfdf;
}

.slide-live-score .live-scrore-list .item .score {
    font-family: 'PT Serif', serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;

    padding: 0 10px;

    color: #ad0000;
}

.nav-menu-dropdown {
    float: left;
}

.nav-menu-dropdown li {
    margin: 0 25px;
}

.nav-menu-dropdown li .main-menu {
    font-weight: 900;
    line-height: 60px;

    padding: 0;

    text-transform: uppercase;

    color: #ffffff;
}

.nav-menu-dropdown li .main-menu:hover {
    color: #ad0000;
    background-color: transparent;
}

.nav-menu-dropdown li:first-child {
    margin-left: 0;
}

.nav-menu-dropdown li:last-child {
    margin-right: 0;
}

.wrapper-logo-menu {
    display: table-cell;

    vertical-align: middle;
}

.hamburger-menu {
    position: relative;

    display: table-cell;

    cursor: pointer;
    vertical-align: middle;
}

.hamburger-menu .icons {
    font-size: 24px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    color: rgba(255, 255, 255, .5);
}

.hamburger-menu .icons-2 {
    font-size: 20px;

    position: absolute;
    top: 50%;
    left: 50%;

    visibility: hidden;

    margin-left: -4px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    opacity: 0;
}

.hamburger-menu:hover .icons {
    color: #ffffff;
}

.hamburger-menu.active .icons-2 {
    visibility: visible;

    margin-top: -24px;

    opacity: 1;
}

.logo-wrapper {
    line-height: 85px;

    display: table-cell;

    padding: 0 25px;

    vertical-align: middle;
}

.logo-wrapper .logo {
    position: relative;
    top: -4px;

    display: block;
}

.sub-navigation {
    display: table-cell;

    margin: 0;
    padding: 0;

    list-style: none;

    vertical-align: middle;
}

.sub-navigation li {
    padding: 0;
}

.sub-navigation .link {
    display: block;

    padding: 23px 25px;

    text-align: center;

    border-left: 1px solid rgba(255, 255, 255, .1);
}

.sub-navigation .link .title {
    font-weight: bold;
    line-height: 1;

    display: block;

    text-transform: uppercase;

    color: #ffffff;
}

.sub-navigation .link .description {
    font-size: 13px;
    font-style: italic;
    line-height: 1;

    color: #787878 !important;
}

.sub-navigation .link:hover .title {
    color: #ad0000;
}

.more-infomation {
    line-height: 85px;

    display: table-cell;

    vertical-align: middle;

    border-left: 1px solid rgba(255, 255, 255, .1);
    background-color: #181818;
}

#weather {
    display: inline-block;
}

.today-weather {
    font-size: 24px;
    font-weight: bold;

    display: inline;

    padding: 0 20px;
}

.today-weather .icon-weather,
.today-weather .temp {
    display: inline-block;
}

.today-weather .icon-weather {
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;

    position: relative;
    top: 2px;

    margin-right: 5px;
}

.language {
    position: relative;

    display: inline-block;

    padding: 0 20px;
}

.language .dropdown-text {
    text-transform: capitalize;

    color: #ffffff;
}

.language .dropdown-text .topbar-icon {
    margin-left: 7px;
}

.language .dropdown-text:hover {
    color: #ad0000;
}

.language .dropdown-language {
    position: absolute;
    z-index: 102;
    top: 85px;
    left: 0;

    width: 120px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    border: none;
    background-color: #181818;
}

.language .dropdown-language li {
    padding: 8px 20px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    border-top: 1px solid rgba(255, 255, 255, .1);
}

.language .dropdown-language li .link {
    line-height: 24px;

    display: block;

    color: #ffffff;
}

.language .dropdown-language li:hover {
    background-color: #f5f5f5;
}

.language .dropdown-language li:hover .link {
    color: #141414;
}

.button-search {
    position: relative;

    display: inline-block;
    float: right;

    padding: 0 20px;

    cursor: pointer;
}

.button-search .icons {
    line-height: 60px;

    padding: 0 5px;

    color: #ffffff;
}

.nav-search {
    position: absolute;
    z-index: 102;
    top: 85px;
    right: 0;

    padding: 20px;

    color: #141414;
    background-color: #181818;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.nav-search form {
    line-height: 1;

    display: table;

    width: 290px;
    height: 38px;
}

.nav-search form input[type='text'] {
    display: table-cell;

    width: calc(100% - 40px);
    height: 40px;
    padding: 0 20px;

    border: none;
}

.nav-search form .searchbutton {
    line-height: 38px;

    position: relative;
    top: -1px;

    display: table-cell;

    width: 40px;
    height: 40px;
    padding: 0;

    text-align: center;
    vertical-align: middle;

    color: #ffffff;
    border: none;
    border: 1px solid rgba(255, 255, 255, .1);
    background-color: transparent;
    box-shadow: none;
}

.slide-stock.slide-blog {
    padding: 15px 100px 15px 0;

    background-image: none;
}

.slide-stock.slide-blog .slide-item {
    padding: 0;
}

.slide-stock.slide-blog .slick-prev,
.slide-stock.slide-blog .slick-next {
    top: 50%;
    bottom: auto;
    left: auto;

    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.slide-stock.slide-blog .slick-prev {
    right: 60px;
}

.slide-stock.slide-blog .slick-next {
    right: 30px;
}

.slide-stock .stock-wrapper > div {
    font-size: 11px;

    float: left;

    padding-right: 15px;
}

.slide-stock .stock-wrapper > div:last-child {
    padding-right: 0;
}

.slide-stock .stock-wrapper .name {
    font-weight: 500;

    text-transform: uppercase;

    color: #c7c7c7;
}

.slide-stock .stock-wrapper .change {
    color: #ff2626;
}

.slide-stock .stock-wrapper .total {
    color: #c7c7c7;
}

.slide-stock .stock-wrapper .total i {
    padding-left: 8px;

    color: #1d87a6;
}

/****************** Mega Menu ********************/

.mega-menu {
    position: absolute;
    z-index: 0;
    top: 100%;
    right: 0;
    left: 0;

    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;

    max-height: 100%;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    -webkit-transform: translateY(-100%);
       -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
         -o-transform: translateY(-100%);
            transform: translateY(-100%);

    opacity: 0;
    background-color: rgba(0, 0, 0, .95);

    -webkit-font-smoothing: subpixel-antialiased;
}

.mega-menu .catelory-widget .info-list .link {
    color: #ffffff;
}

.mega-menu .catelory-widget .info-list .link .text {
    color: #ffffff !important;
}

.mega-menu .catelory-widget .info-list .link .text:before {
    background-color: #ffffff;
}

.mega-menu .single-recent-post-widget {
    border-color: rgba(255, 255, 255, .2);
}

.mega-menu .single-recent-post-widget .post-info .title {
    line-height: 20px;

    color: #ad0000;
}

.mega-menu .slide-logo {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    background-color: transparent;
}

.mega-menu .logo-foodball {
    padding-bottom: 0;

    background-color: transparent;
}

.mega-menu .logo-foodball .item .link {
    display: block;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    opacity: .2;
}

.mega-menu .logo-foodball .item .link:hover {
    opacity: 1;
}

.mega-menu .logo-entertainment .slide-logo-list {
    margin-bottom: 0;
}

.mega-menu .slick-slider {
    margin-bottom: 0;
}

.show-megamenu {
    overflow: hidden;
}

.show-megamenu .mega-menu {
    z-index: 100;

    visibility: visible;

    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
        -ms-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);

    opacity: 1;
}

/*==============================
=======  End of HEADER  ========
===============================*/

/*==============================
========     FOOTER     ========
===============================*/

.footer-main {
    position: relative;

    overflow: hidden;

    width: 100%;

    text-align: left;

    color: #ffffff;
    background-color: #121212;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}

.footer-main.news {
    background-image: url('../img/footer/bg-news.jpg');
}

.footer-main.sport {
    background-image: url('../img/footer/bg-sport.jpg');
    background-position: left;
}

.footer-main.entertainment {
    background-image: url('../img/footer/bg-entertainment.jpg');
    background-position: left;
}

.footer-main .widget .title-widget {
    font-weight: bold;

    margin-bottom: 25px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #ffffff;
}

.footer-main .catelory-widget .info-list .link {
    color: #ffffff;
}

.footer-main .catelory-widget .info-list .link .text {
    color: #ffffff !important;
}

.footer-main .catelory-widget .info-list .link .text:before {
    background-color: #ffffff;
}

.footer-main .single-recent-post-widget {
    border-color: rgba(255, 255, 255, .1);
}

.footer-main .single-recent-post-widget .post-info .title {
    line-height: 20px;

    color: #ffffff;
}

.footer-main .about-us-widget .text {
    line-height: 22px;

    color: #b2b2b2;
}

.footer-main .about-us-info-list li {
    border-color: rgba(255, 255, 255, .1);
}

.footer-main .about-us-info-list .icons {
    color: #b2b2b2;
}

.footer-main .about-us-info-list .link {
    color: #b2b2b2;
}

.footer-main .about-us-info-list .link:hover {
    color: #ffffff !important;
}

.footer-main .gallery-widget ul {
    zoom: 1;

    margin-bottom: -5px;
    margin-left: -2.5px;
}

.footer-main .gallery-widget ul:before,
.footer-main .gallery-widget ul:after {
    display: table;

    content: '';
}

.footer-main .gallery-widget ul:after {
    clear: both;
}

.footer-main .gallery-widget ul li {
    float: left;

    width: 20%;
    padding: 0 2.5px 5px;
}

.footer-main .gallery-widget ul .thumb {
    position: relative;

    display: block;
}

.footer-main .gallery-widget ul .thumb img {
    width: 100%;
}

.footer-main .gallery-widget ul .thumb:after {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;
    -webkit-transform: scale(0);
       -moz-transform: scale(0);
        -ms-transform: scale(0);
         -o-transform: scale(0);
            transform: scale(0);

    background-color: rgba(0, 0, 0, .5);
}

.footer-main .gallery-widget ul .thumb:hover:after {
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

.footer-top {
    display: inline-block;

    width: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.footer-top .logo-wrapper {
    display: table;
    float: left;

    height: 115px;
    padding-left: 0;
}

.footer-top .logo-wrapper .logo {
    display: table-cell;

    vertical-align: middle;

    color: #ffffff !important;
}

.footer-top .logo-wrapper .logo .text {
    font-size: 12px;
    line-height: 1;

    position: relative;
    top: -20px;

    display: block;
}

.footer-top .navigation {
    float: right;
}

.footer-top .navigation .nav-links {
    position: relative;
}

.footer-top .navigation .nav-links li:last-child .main-menu {
    margin-right: 0;
}

.footer-top .navigation .nav-links .main-menu {
    font-size: 13px;
    font-weight: 600;
    line-height: 115px;

    position: relative;

    margin: 0 20px;
    padding: 0;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-transform: uppercase;

    color: rgba(255, 255, 255, .5);
    background-color: transparent;
}

.footer-top .navigation .nav-links .main-menu:before {
    position: absolute;
    bottom: 50px;

    width: 0;
    height: 1px;

    content: '';
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    background-color: #ffffff;
}

.footer-top .navigation .nav-links .active .main-menu,
.footer-top .navigation .nav-links li:hover .main-menu {
    color: #ffffff !important;
}

.footer-top .navigation .nav-links .active .main-menu:before,
.footer-top .navigation .nav-links li:hover .main-menu:before {
    width: 100%;
}

.footer-bottom {
    display: block;

    color: #b2b2b2;
}

.footer-bottom .name-company {
    line-height: 40px;
}

.social-list ul {
    font-size: 0;

    margin: 0;
    padding: 0;
}

.social-list ul li {
    padding: 0 5px 0 0;
}

.social-list ul li:last-child {
    padding: 0;
}

.social-list .link {
    font-size: 14px;
    line-height: 40px;

    display: block;

    width: 40px;
    height: 40px;

    text-align: center;

    color: #b2b2b2;
    background-color: rgba(0, 0, 0, .5);
}

.social-list .link:hover {
    color: #ad0000;
}

.subscribe-email {
    margin-right: 5px;
}

.subscribe-email .input-group {
    width: 100%;
    max-width: 300px;
}

.subscribe-email .input-group .form-control {
    height: 40px;

    color: #ffffff;
    border: none;
    background-color: rgba(0, 0, 0, .5);
}

.subscribe-email .input-group .form-control:focus,
.subscribe-email .input-group .form-control:active {
    border: none;
    box-shadow: none;
}

.subscribe-email .input-group .input-group-btn {
    background-color: transparent;
}

.subscribe-email .input-group .input-group-btn .btn-email {
    font-size: 14px;

    width: 40px;
    height: 40px;

    text-align: center;

    border: none;
    background-color: rgba(0, 0, 0, .5);
}

.subscribe-email .input-group .input-group-btn .btn-email .icons {
    color: #ad0000;
}

/*==============================
========  End of FOOTER  =======
===============================*/

/*==============================
=======     SIDEBAR      =======
===============================*/

.sidebar .widget {
    margin-bottom: 60px;
}

.sidebar .sidebar-wrapper > .widget:last-child {
    margin-bottom: 0;
}

.sidebar .col-2:last-child .widget:last-child {
    margin-bottom: 0;
}

.scroll-sidebar-content {
    overflow: auto;

    max-height: 1550px !important;
}

.banner-widget {
    padding: 0 30px;

    text-align: center;
}

.banner-widget img {
    width: 100%;
}

.socials-tab-widget .socials-tab {
    margin-bottom: 5px;
}

.socials-tab-widget .socials-tab li {
    padding: 0 3px;
}

.socials-tab-widget .socials-tab li .tab {
    font-size: 11px;
    font-weight: bold;

    position: relative;

    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;

    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    background-color: #fafafa;
}

.socials-tab-widget .socials-tab li .tab span {
    position: relative;
    z-index: 10;

    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;

    color: #141414;
}

.socials-tab-widget .socials-tab li .tab:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 4px;
    height: 100%;

    content: '';
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #ad0000;
}

.socials-tab-widget .socials-tab li .tab.facebook {
    color: #0e3d7d !important;
}

.socials-tab-widget .socials-tab li .tab.facebook:before {
    background-color: #0e3d7d;
}

.socials-tab-widget .socials-tab li .tab.twitter {
    color: #25c5f3 !important;
}

.socials-tab-widget .socials-tab li .tab.twitter:before {
    background-color: #25c5f3;
}

.socials-tab-widget .socials-tab li .tab.google {
    color: #c51414 !important;
}

.socials-tab-widget .socials-tab li .tab.google:before {
    background-color: #c51414;
}

.socials-tab-widget .socials-tab li.active .tab,
.socials-tab-widget .socials-tab li:hover .tab {
    border: none;
    background-color: #fafafa;
}

.socials-tab-widget .socials-tab li.active .tab span,
.socials-tab-widget .socials-tab li:hover .tab span {
    color: #ffffff;
}

.socials-tab-widget .socials-tab li.active .tab:before,
.socials-tab-widget .socials-tab li:hover .tab:before {
    width: 100%;
}

.socials-tab-widget .socials-tab li.active .tab span,
.socials-tab-widget .socials-tab li:hover .tab span {
    color: #ffffff !important;
}

.socials-tab-widget .socials-tab li:last-child {
    padding-right: 0;
}

.socials-tab-widget .socials-tab li:first-child {
    padding-left: 0;
}

.socials-tab-widget .list-news {
    padding: 15px;

    counter-reset: section;

    background-color: #fafafa;
}

.socials-tab-widget .list-news .single-recent-post-widget {
    margin-bottom: 15px;
    padding-bottom: 0;

    border: none;
}

.socials-tab-widget .list-news .single-recent-post-widget:before {
    line-height: 18px;

    display: table-cell;

    padding-right: 10px;

    content: counter(section) '.';
    counter-increment: section;
    vertical-align: top;

    color: #ad0000;
}

.socials-tab-widget .list-news .single-recent-post-widget .post-info {
    top: 0;
}

.socials-tab-widget .list-news .single-recent-post-widget .post-info .title:hover {
    text-decoration: underline;

    color: #141414;
}

.socials-tab-widget .list-news .single-recent-post-widget:last-child {
    margin-bottom: 0;
}

.follow-on-social-widget .panel-group {
    margin-bottom: 0;
}

.follow-on-social-widget .panel-collapse {
    border: none;
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    box-shadow: none;
}

.follow-on-social-widget .panel-collapse .panel-heading {
    line-height: 40px;

    height: 40px;
    padding: 0;

    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title {
    display: table;

    width: 100%;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title .icons {
    line-height: 40px;

    display: table-cell;

    width: 40px;
    height: 40px;
    margin-right: 3px;

    text-align: center;

    background-color: #fafafa;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title .link {
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;

    display: table-cell;

    height: 40px;
    padding: 0 20px;

    text-transform: capitalize;

    color: #ffffff;
    border-left: 4px solid #ffffff;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title .link .sub-text {
    float: right;

    text-transform: uppercase;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title.facebook .icons {
    color: #3765a3;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title.facebook .link {
    background-color: #3765a3;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title.twitter .icons {
    color: #33ccff;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title.twitter .link {
    background-color: #33ccff;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title.google .icons {
    color: #dc4638;
}

.follow-on-social-widget .panel-collapse .panel-heading .panel-title.google .link {
    background-color: #dc4638;
}

.follow-on-social-widget .panel-collapse .panel-body {
    margin-top: 5px;

    border: 2px solid #eeeeee !important;
}

.follow-on-social-widget .panel-collapse + .panel-collapse {
    margin-top: 10px;
}

.scroll-sidebar-content .news-item {
    display: block;

    margin-bottom: 20px;
    padding-bottom: 15px;

    border-bottom: 1px solid #ebebeb;
}

.scroll-sidebar-content .news-item:last-child {
    margin-bottom: 0;
    padding-bottom: 0;

    border: none;
}

.search-widget .search-wrapper {
    width: 100%;

    border: 1px solid #e6e6e6;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
}

.search-widget .search-wrapper .search-input {
    font-family: Helvetica, Arial, sans-serif;

    width: inherit;
    height: 40px;
    padding-right: 0;
    padding-left: 18px;

    color: #adadad;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

.search-widget .search-wrapper .search-input::-webkit-input-placeholder {
    color: #d8d8d8;
}

.search-widget .search-wrapper .search-input:-moz-placeholder,
.search-widget .search-wrapper .search-input::-moz-placeholder {
    color: #d8d8d8;
}

.search-widget .search-wrapper .search-input:-ms-placeholder {
    color: #d8d8d8;
}

.search-widget .search-wrapper .submit-btn {
    width: 40px;
    height: 40px;
    margin-right: 6px;
    padding: 0;

    color: #adadad;
    border: none;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background-color: transparent;
}

.search-widget .search-wrapper .submit-btn:active {
    box-shadow: none;
}

.category-list {
    margin-bottom: 0;
}

.category-list .category-link {
    display: block;

    padding: 0 0 10px 0;

    color: #51616b;
}

.category-list .category-link i {
    line-height: 24px;

    float: right;

    padding-right: 25px;

    -webkit-transition: padding-right .5s;
       -moz-transition: padding-right .5s;
         -o-transition: padding-right .5s;
            transition: padding-right .5s;
}

.category-list .category-link:hover {
    padding-left: 10px;

    color: #ad0000;
}

.category-list .category + .category .category-link {
    padding-top: 10px;

    border-top: 1px solid #ebebeb;
}

.tag-widget .tag-list {
    margin-top: -10px;
    margin-bottom: 0;
    margin-left: 0;
}

.tag-widget .tag-list .tag {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 0;
}

.tag-widget .tag-list .tag-link {
    font-size: 10px;
    font-weight: 700;

    display: inline-block;

    padding: 8px 25px;

    letter-spacing: 1px;
    text-transform: uppercase;

    color: #141414;
    background-color: #fafafa;
}

.tag-widget .tag-list .tag-link:hover {
    color: #ffffff;
    background-color: #ad0000;
}

.recent-video-widget .layout-list-news .news-layout-1 {
    padding-bottom: 30px;
}

.recent-video-widget .layout-list-news .news-layout-1:last-child {
    padding-bottom: 0;
}

.recent-video-widget .two-col {
    margin: 0 -15px;
}

.recent-video-widget .two-col > div {
    display: inline-block;
    float: left;

    width: 50%;
    padding: 0 15px;

    vertical-align: top;
}

.list-logo-widget .logo-list {
    display: inline-block;

    width: 100%;
    margin: 0 -10px;
}

.list-logo-widget .logo-list .link {
    float: left;

    width: 50%;
    padding: 10px;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    opacity: .5;
}

.list-logo-widget .logo-list .link img {
    width: 100%;

    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    border: 2px solid #eeeeee;
    background-color: #eeeeee;
}

.list-logo-widget .logo-list .link:nth-child(-n+2) {
    padding-top: 0;
}

.list-logo-widget .logo-list .link:nth-last-child(-n+2) {
    padding-bottom: 0;
}

.list-logo-widget .logo-list .link:hover {
    opacity: 1;
}

.list-logo-widget .logo-list .link:hover img {
    border: 2px solid #ebebeb;
    background-color: #fafafa;
}

.top-news-widget .list-news {
    padding: 15px;

    counter-reset: section;

    background-color: #fafafa;
}

.top-news-widget .list-news .single-recent-post-widget {
    margin-bottom: 15px;
    padding-bottom: 0;

    border: none;
}

.top-news-widget .list-news .single-recent-post-widget:before {
    line-height: 18px;

    display: table-cell;

    padding-right: 10px;

    content: counter(section) '.';
    counter-increment: section;
    vertical-align: top;

    color: #ad0000;
}

.top-news-widget .list-news .single-recent-post-widget .post-info {
    top: 0;
}

.top-news-widget .list-news .single-recent-post-widget .post-info .title:hover {
    text-decoration: underline;

    color: #141414;
}

.top-news-widget .list-news .single-recent-post-widget:last-child {
    margin-bottom: 0;
}

/*==============================
=======  End of SIDEBAR  =======
===============================*/
